@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


html *{
    margin: 0;
    padding: 0;
}

body{
    background-color: #001219;
    background:cover;
    overflow-y: scroll;
    height: 200vh;
    overflow: overlay;
    margin: 0;
    padding: 0;
}


.portfolioPalaceHeader{ 
    z-index: 999;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 0;
    width: 100%;
    min-height: 32px;
    height: 5vh;
    float:left;
    backdrop-filter: blur(12px);
    background-color: #001219;
    position: sticky;
    top:0;
    justify-content: center;
}

.dashboardContainer{
    width: 100%;
    height: 100%;
}

.dashboardColumn{
    float: left;
    width: 44.6%;
    margin-left: 2.5%;
    margin-right:2.5%;
    margin-top: 3%;
}

.dashboadRow:after {
    width:100%;
    height:50%;
    display: table;
  }

  .chartContainer{
      width: 100%;
      height:100%;
      background-color: #001219;
  }

/*-------Scroll bar Settings---------*/


body::-webkit-scrollbar-corner {
    background-color: transparent;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
      
body::-webkit-scrollbar-thumb {
background: rgba(50, 50, 50, 0.5);
border-radius: 20px;
}
      
body::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.1);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
